body {
    background-color: rgb(16, 16, 17);

    /* too small by default so set zoom, see https://stackoverflow.com/a/22344411 */
    zoom: 1.5;
}

/* .header {
    display: none;
} */

h1 {
    font-size: 1.3rem;
}

.content {
    /* font-size: 1.9rem; */
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
