# General ignore
.ignore/
.ignore*

# build artifacts
bin/
build/
.cache/

# C++
CMakeUserPresets.json
.conan/data
/usr/include/c++

# python
__pycache__/

# images
*.tga
*.png
*.bmp
exports/

# videos
*.mp4

# Valgrind files
vgcore.*

# vscode
c_cpp_properties.json
settings.json
.history/

# clion
.idea

# nohup
nohup.out
