@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Roboto:wght@400&family=Source+Code+Pro&family=Ubuntu+Mono&display=swap');

html {
    zoom: 125%;
    --font-family: 'Roboto', 'Nanum Gothic Coding', monospace;
    --font-family-monospace: 'Source Code Pro', monospace;

    --page-font-size: 16.5px;
    --navigation-font-size: 20px;
    --code-font-size: 17px;
    /* --title-font-size: 32px; */
}

html.dark-mode {
    --page-background-color: #151418;
    --side-nav-background: #0c0c0d;
}
