---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Nunito:wght@300&family=Open+Sans&display=swap');

$bg: rgb(20, 18, 27);

html,
body {
    background-color: rgb(13, 14, 22);
    font-family: 'Nunito', sans-serif;
}

.page-header {
    h1 {
        font-size: 3.5rem;
        font-family: 'JetBrains Mono', monospace;
    }

    h2 {
        font-size: 2.5rem;
    }


    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, #ff5d12, #ff2c84);
}

.main-content {
    color: #eee;
    background-color: $bg;
    max-width: 95rem;
    font-size: 1.8rem;
    font: 'Open Sans', sans-serif;
    border-radius: 2rem;
    margin: 2rem auto;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgb(44, 44, 44);

    h1 {
        font-size: 4rem;
    }

    code {
        color: #eee;
        font-size: 1.83rem;
        background-color: $bg;
        font-family: 'JetBrains Mono', monospace;
    }

    div {
        background-color: rgb(31, 32, 41);
    }

    a {
        color: rgb(127, 176, 231);
    }


    h1, h2 {
        color: rgb(255, 208, 220);
        border-bottom: 0.17rem solid;
        border-color: #fff;
        width: fit-content;
    }
}
