---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Open+Sans&display=swap');

$bg: rgb(23, 24, 31);

html,
body {
    background-color: $bg;
    font: 'Open Sans', sans-serif;
}

.page-header {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, #ff5d12, #ff2c84);
}

.main-content {
    color: #eee;
    background-color: $bg;
    max-width: 95rem;
    font-size: 1.25rem;
    font: 'Open Sans', sans-serif;
    
    h1 {
        font-size: 4rem;
    }
    
    code {
        font-size: 1.3rem;
        background-color: $bg;
        font-family: 'JetBrains Mono', monospace;
    }

    
    h1, h2 {
        color: rgb(255, 173, 184);
    }
}
