---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Open+Sans&display=swap');

html,
body {
    background-color: rgb(23, 24, 31);
    font: 'Open Sans', sans-serif;
}

.page-header {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, #ff5d12, #ff2c84);
}

.main-content {
    color: #eee;
    background-color: rgb(23, 24, 31);
    max-width: 95rem;
    font-size: 1.25rem;
    font: 'Open Sans', sans-serif;
    
    h1 {
        font-size: 4rem;
        text-decoration: none;
        background: linear-gradient(to right, #4ae4ff, #0b156b);
        background-repeat: repeat-x;
        background-size: 100% 2px;
        background-position: 0 95%;
    }
    
    code {
        font-size: 1.45rem;
        font-family: 'JetBrains Mono', monospace;
    }

    // https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links
    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }

    a:link {
        color: #012453;
    }

    a:visited {
        color: #16287a;
    }

    a:focus {
        border-bottom: 1px solid;
        background: #98b5e4;
    }

    a:hover {
        border-bottom: 1px solid;
        background: #aacefe;
    }

    a:active {
        color: #aacefe;
    }

}
