@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Roboto+Mono:wght@200&display=swap');

html,
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    background: -webkit-linear-gradient(
        right,
        rgb(255, 105, 60),
        rgb(250, 19, 96)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight,
.sig,
.headerlink {
    font-family: 'Roboto Mono', monospace;
}

section,
.function {
    margin-top: 3em;
    margin-bottom: 3em;
}
