@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto+Mono:wght@400&display=swap');

html,
body {
    font-weight: 500;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    background: -webkit-linear-gradient(
        right,
        rgb(255, 105, 60),
        rgb(250, 19, 96)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section,
.function,
.struct,
.type {
    margin-top: 3em;
    margin-bottom: 3em;
}
.function {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}
