@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@300;400&display=swap');

html,
body {
    font-weight: 400;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 3em;
}

section,
.function,
.struct,
.type {
    margin-top: 3em;
    margin-bottom: 3em;
}
.function {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

.headerlink {
    font-family: 'IBM Plex Mono', monospace;
}
